*{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.info{
    display: grid;
  width: 100%;
  grid-template-columns: auto auto;
  align-items: center;
}

.info > p{
    font-size: 34px;
}

.info > img{
 
}